* {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.5;
  background-color: var(--color-bg-body);
  color: var(--color-text-dark);
  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  color: inherit;
}
